@font-face {
  font-family: myFontLight;
  src: url(/fonts/MonumentExtended-Light.otf);
}

@font-face {
  font-family: myFontRegular;
  src: url(/fonts/MonumentExtended-Ultralight.otf);
}

@font-face {
  font-family: myFontBold;
  src: url(/fonts/MonumentExtended-Bold.otf);
}

:root {
  --accent-color: #007bff;
  --primary-color: #000;
  --primary-color-dark: #111;
  --primary-color-light: #ccc;
  --primary-color-lighten: #fff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: myFontRegular;
  font-weight: 500;
  background-color: var(--primary-color);
  color: var(--primary-color-lighten);
  line-height: 1.6;
  scroll-behavior: smooth;
}

.dark-mode {
  --accent-color: #007bff;
  --primary-color: #fff;
  --primary-color-dark: #ccc;
  --primary-color-light: #111;
  --primary-color-lighten: #000;
}

h1,
h2,
h3,
p {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style: none;
}

.page-center {
  max-width: 1200px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-item {
  padding: 30px 20px;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 8px 16px;
  font-size: 15px;
  font-weight: 600;
  background-color: var(--accent-color);
  border: 1px solid transparent;
  margin-top: 30px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:hover {
  color: var(--primary-color-lighten);
  border: 1px solid var(--primary-color-lighten);
}

.btn:hover::after {
  top: 0%;
  left: 0%;
  width: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0%;
  height: 100%;
  background-color: var(--primary-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.section-heading {
  margin-bottom: 50px;
  color: var(--primary-color-lighten);
}

.section-heading .section-title {
  position: relative;
  display: inline-block;
  font-size: 38px;
  font-weight: 400;
  color: var(--primary-color-lighten);
  margin-bottom: 60px;
  z-index: 2;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.section-heading .section-title::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 45%;
  height: 70px;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#007bff), to(rgba(0, 123, 255, 0.5)));
  background: linear-gradient(180deg, #007bff 0%, rgba(0, 123, 255, 0.5) 100%);
  margin-left: -6px;
  z-index: -1;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.section-heading .section-title::after {
  position: absolute;
  content: "";
  height: 52px;
  width: 2px;
  background: #007bff;
  background: -webkit-gradient(linear, left top, left bottom, from(#007bff), to(rgba(0, 123, 255, 0.0564426)));
  background: linear-gradient(180deg, #007bff 0%, rgba(0, 123, 255, 0.0564426) 100%);
  left: 50%;
  margin-left: -6px;
  z-index: -1;
  top: 100%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  height: 20%;
  background: var(--primary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 20%;
  background: var(--accent-color);
  border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-color);
}

.layers {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  pointer-events: none;
  z-index: 1111;
}

.layers div {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: reveal 1s ease-in-out forwards;
          animation: reveal 1s ease-in-out forwards;
}

.layers div:nth-child(1) {
  background-color: var(--primary-color);
  z-index: 4;
}

.layers div:nth-child(2) {
  background-color: var(--accent-color);
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  z-index: 3;
}

@-webkit-keyframes reveal {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes reveal {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  z-index: 1000;
  pointer-events: none;
  opacity: 1;
}

.header-section-wrapper {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 500;
  line-height: 70px;
  height: 70px;
  width: 100%;
  -webkit-backdrop-filter: saturate(10%) blur(10px);
          backdrop-filter: saturate(10%) blur(10px);
}

.header-section-wrapper .header-section .logo {
  position: fixed;
  top: 5%;
  left: 6%;
}

.header-section-wrapper .header-section .logo a {
  font-size: 30px;
  color: var(--primary-color-lighten);
  font-weight: bold;
}

.header-section-wrapper .header-section .logo a span {
  color: var(--accent-color);
}

.header-section-wrapper .header-section .mobile-menu {
  position: fixed;
  top: 6%;
  right: 6%;
  z-index: -1;
  cursor: pointer;
  font-size: 20px;
  color: var(--accent-color);
}

.header-section-wrapper .header-section .mobile-menu.close {
  top: 1%;
}

.header-section-wrapper .header-section nav ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--primary-color);
  z-index: -1;
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

.header-section-wrapper .header-section nav ul.show {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
  visibility: visible;
}

.header-section-wrapper .header-section nav ul li a {
  position: relative;
  font-size: 4vw;
  display: inline-block;
  color: var(--primary-color-lighten);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-section-wrapper .header-section nav ul li a:hover {
  margin-left: 20px;
}

.header-section-wrapper .header-section nav ul li a::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-section-wrapper .header-section nav ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  color: var(--primary-color-lighten);
}

.hero-section h1 {
  font-size: 38px;
  line-height: 1.8;
}

.hero-section h1 span {
  font-size: 20px;
}

.work-section-content .work-section-content-item {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.work-section-content .work-section-content-item:hover {
  -webkit-transform: skew(2deg, 2deg) scale(1.05);
          transform: skew(2deg, 2deg) scale(1.05);
}

.work-section-content .work-section-content-item img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.services-section {
  padding: 100px 0;
}

.services-section article {
  padding: 40px 20px;
  border: 1px solid #222;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services-section article p {
  color: var(--primary-color-light);
  font-weight: 400;
}

.services-section article i {
  color: var(--primary-color-lighten);
  font-size: 50px;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services-section article:hover i {
  -webkit-transform: rotateY(360deg) scale(1.3);
          transform: rotateY(360deg) scale(1.3);
}

.services-section article .content h3 {
  position: relative;
  display: inline-block;
  font-size: 26px;
  font-weight: 700;
  color: var(--accent-color);
  overflow: hidden;
  text-transform: capitalize;
}

.services-section article .content h3::after {
  position: absolute;
  content: attr(data-hover);
  height: 100%;
  width: 0%;
  color: var(--primary-color-lighten);
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.services-section article:hover .content h3::after {
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.about-section a {
  display: inline-block;
  font-size: 5vw;
  padding: 0 10px;
  color: var(--primary-color-lighten);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: underline;
}

.about-section a:hover {
  background-color: var(--accent-color);
  color: #fff;
}

.about-section p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-size: 36px;
  margin-bottom: 50px;
}

.about-section .content {
  background-color: var(--primary-color-dark);
  border-radius: 8px;
  padding: 2vw;
}

.about-section .content pre {
  cursor: text;
  white-space: pre-wrap;
  font-size: 18px;
}

.about-section .content pre .js-keyword {
  color: #c792ea;
}

.about-section .content pre .js-string {
  color: #ffcb6b;
}

.contact-section {
  padding: 50px 0;
}

.contact-section p {
  font-size: 40px;
  line-height: 1.3;
}

.contact-section p a {
  position: relative;
  color: var(--accent-color);
}

.contact-section p a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: var(--accent-color);
  -webkit-transition: 0.25s cubic-bezier(0.285, 0.105, 0.465, 1.015);
  transition: 0.25s cubic-bezier(0.285, 0.105, 0.465, 1.015);
}

.contact-section p a:hover::after {
  right: auto;
  left: 0%;
  width: 100%;
}

footer {
  padding: 30px 0;
  background: var(--primary-color-dark);
}

footer .footer-section {
  position: relative;
}

footer .footer-section .to-top {
  position: absolute;
  right: 0;
  bottom: 20%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--accent-color);
}

footer .footer-section .to-top i {
  font-size: 50px;
  color: var(--primary-color-lighten);
}

footer .footer-section .social-links {
  margin: 20px 0 30px 0;
}

footer .footer-section .social-links a i {
  font-size: 30px;
  color: var(--primary-color-lighten);
  margin-left: 15px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .footer-section .social-links a i:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  color: var(--accent-color);
}

footer .footer-section span {
  color: var(--accent-color);
}

@media screen and (min-width: 769px) {
  section {
    padding: 50px 0;
  }
  .work-section .flex-item, .services-section .flex-item {
    width: 33.33%;
  }
}

@media screen and (max-width: 900px) {
  .services-section .flex-item {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 30px 0;
  }
  .page-center {
    max-width: 90%;
    margin: 0 auto;
  }
  .hero-section h1 {
    font-size: 28px;
  }
  .services-section .flex-item {
    width: 100%;
  }
  .contact-section p {
    font-size: 28px;
  }
}

@media screen and (max-width: 425px) {
  .hero-section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .section-title {
    font-size: 28px;
  }
}
/*# sourceMappingURL=main.css.map */